<?xml version='1.0' encoding='utf-8'?>
<widget id="br.phellipelins.rcariri" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>R Cariri</name>
    <description>
        12º Encontro Regional dos Estudantes de Design do Norte/Nordeste
    </description>
    <author email="phellipelins@gmail.com" href="http://phellipelins.github.io">
        Phellipe Lins
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="www/res/drawable-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="www/res/drawable-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="www/res/drawable-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="www/res/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>

        <icon src="www/res/drawable-ldpi/icon.png" density="ldpi" />
        <icon src="www/res/drawable-mdpi/icon.png" density="mdpi" />
        <icon src="www/res/drawable-hdpi/icon.png" density="hdpi" />
        <icon src="www/res/drawable-xhdpi/icon.png" density="xhdpi" />
        <preference name="Orientation" value="portrait" />
        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <feature name="Geolocation">
            <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
        </feature>
    </platform>
    <platform name="wp8">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="www/res/drawable-port-ldpi/screen.png" />
        <splash src="www/res/drawable-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="www/res/drawable-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="www/res/drawable-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="www/res/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>

        <icon src="www/res/drawable-ldpi/icon.png" density="ldpi" />
        <icon src="www/res/drawable-mdpi/icon.png" density="mdpi" />
        <icon src="www/res/drawable-hdpi/icon.png" density="hdpi" />
        <icon src="www/res/drawable-xhdpi/icon.png" density="xhdpi" />

        <preference name="Orientation" value="portrait" />
        <Capabilities>
            <Capability Name="ID_CAP_LOCATION" />
        </Capabilities>
    </platform>
</widget>
