<md-content id="about" class="md-padding">
  <p>O <strong>R Design</strong> - Encontro Regional de Estudantes de Design, é um evento itinerante de cunho acadêmico e sem fins lucrativos, que tem o intuito de promover a integração de estudantes de Design e áreas afins, gerando discussões sobre a atividade e abordando as características culturais de cada região que o sedia.</p>

   <p>O evento permite ainda a troca de experiências entre acadêmicos, profissionais e sociedade, constituindo um espaço onde todos os estudantes de design do Brasil têm direito a voz, fortalecendo não só a atividade, mas também a atuação regional no cenário nacional. </p>

  <p>"Gênese"será o tema desta edição que ocorrerá no Cariri cearense, durante os dias 05, 06, 07 e 08 de Novembro. A ideologia do tema pretende englobar não só a origem e os primórdios do Design, mas também os processos criativos que nos guiaram e nos guiam pela linha evolutiva da humanidade. </p>

  <p>Esperam, portanto, com este evento usufruir e também contribuir com o potencial criativo que transborda no Cariri cearense, propondo uma integração social e acadêmica que visará promover o desenvolvimento regional.</p>
</md-content>